#1 {
  background-image: url();
}
.game {
  display: none;
}
body {
  color: blue;
  margin: 0px;
}

.gameCard {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  max-width: 230px;
  height: 300px;
  max-height: 300px;
  border: solid 10px black;
  float: left;
  margin: 5px;
  color: blue;
  text-align: center;
  font-size: 50px;
}
