#1 {
  background-image: url();
}
.game {
  display: none;
}
body {
  color: blue;
}

.gameCard {
  background-color: white;
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  border: solid 10px black;
  float: left;
  margin: 5px;
  color: blue;
  text-align: center;
  font-size: 50px;
}
